<html>
<%- include head.ejs %>
<style>
    h4 {
        margin-top: 20px;
    }
</style>

<body>
    <%- include nav.ejs %>

    <div class="container">
        <h4>Welcome to Dalip Design,</h4>

        <p>Here at Dalip Design we offer the very best in Banners, Hoardings, Social media posts, Flyers, Banner ads,
            Social media ad posts</p>

        <p>Dalip Design was founded with the idea of being able to give Small bussiness who needs small budget and high
            quality products the best Banners, Hoardings, Social media posts, Flyers, Banner ads, Social media ad posts
            possible.</p>

        <h6>At Dalip Design we are dedicated to:</h6>

        <ul>
            <li>Poster</li>
            <li>Hoarding</li>
            <li>Ads</li>
        </ul>

        <p>Please contact us if you need any help with the site at all!</p>

        <p>Thank you!</p>

        All the team at Dalip Design</p>
    </div>
</body>

</html>