<div class="container-fluid">
    <div class="px-lg-5">

        <!-- For demo purpose -->
        <div class="row py-5">
            <div class="col-lg-12 mx-auto">
                <div class="text-white p-5 shadow-sm rounded banner">
                    <h1 class="display-4">Dalip Design photo gallery</h1>
                    <p class="lead">Art of work photogallery snippet.</p>
                </div>
            </div>
        </div>
        <!-- End -->

        <div class="row">
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?Game" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>Gift of love</h5>
                        <p class="small text-muted mb-0">Make your love once feel special with a gift card</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite; color:black">
                            <div class="text-dark badge badge-danger px-3 rounded-pill font-weight-normal">New</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?graphic design"
                        alt="" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>Graphic Design</h5>
                        <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite; color:black">
                            <div class="text-dark badge badge-primary px-3 rounded-pill font-weight-normal">Trend</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?design" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>Design</h5>
                        <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite; color:black">
                            <div class="text-dark badge badge-warning px-3 rounded-pill font-weight-normal">Featured
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?unique" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>Unique</h5>
                        <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite; color:black">
                            <div class="text-dark badge badge-success px-3 rounded-pill font-weight-normal">Hot</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?boy" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>Boy</h5>
                        <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite; color:black">
                            <div class="text-dark badge badge-primary px-3 rounded-pill font-weight-normal">New</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?kurti" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>Kurti</h5>
                        <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite; color:black">
                            <div class="text-dark badge badge-warning px-3 rounded-pill font-weight-normal">Featured
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?cinematic"
                        alt="" class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>Cinematic</h5>
                        <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite; color:black">
                            <div class="text-dark badge badge-info px-3 rounded-pill font-weight-normal">Hot</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                <div class="bg-white rounded shadow-sm"><img src="https://source.unsplash.com/1600x900/?pubg" alt=""
                        class="img-fluid card-img-top">
                    <div class="p-4">
                        <h5>PUBG</h5>
                        <p class="small text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        <div class="d-flex align-items-center justify-content-between rounded-pill px-3 py-2 mt-4"
                            style="background-color: antiquewhite;">
                            <div class="text-dark badge badge-info px-3 rounded-pill font-weight-normal">Hot</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>



    

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

  <div class="gallery">
    <div class="gallery__column">
      <a href="https://unsplash.com/@jeka_fe" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/_cvwXhGqG-o/300x300" alt="Portrait by Jessica Felicio"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Jessica Felicio</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@oladimeg" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/AHBvAIVqk64/300x500" alt="Portrait by Oladimeji Odunsi"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Oladimeji Odunsi</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@a2eorigins" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/VLPLo-GtrIE/300x300" alt="Portrait by Alex Perez"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Alex Perez</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/AR7aumwKr2s/300x300" alt="Portrait by Noah Buscher"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Noah Buscher</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/dnL6ZIpht2s/300x300" alt="Portrait by Ivana Cajina"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Ivana Cajina</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@samburriss" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/tV_1sC603zA/300x500" alt="Portrait by Sam Burriss"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Sam Burriss</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="https://unsplash.com/@marilezhava" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/Xm9-vA_bhm0/300x500" alt="Portrait by Mari Lezhava"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Mari Lezhava</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@ethanhaddox" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/NTjSR3zYpsY/300x300" alt="Portrait by Ethan Haddox"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Ethan Haddox</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@mr_geshani" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/2JH8d3ChNec/300x300" alt="Portrait by Amir Geshani"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Amir Geshani</figcaption>
        </figure>
      </a>
    </div>

    <div class="gallery__column">
      <a href="https://unsplash.com/@frxgui" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/FQhLLehm4dk/300x300" alt="Portrait by Guilian Fremaux"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Guilian Fremaux</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@majestical_jasmin" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/OQd9zONSx7s/300x300" alt="Portrait by Jasmin Chew"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Jasmin Chew</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@dimadallacqua" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="https://source.unsplash.com/XZkEhowjx8k/300x500" alt="Portrait by Dima DallAcqua"
            class="gallery__image">
          <figcaption class="gallery__caption">Portrait by Dima DallAcqua</figcaption>
        </figure>
      </a>
    </div>
  </div>