<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #5161ce;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Dalip Design</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                </li>

                <li class="dropdown">
                    <button class="btn text-white dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Banner</a></li>
                        <li><a class="dropdown-item" href="#">Client Diary</a></li>
                        <li><a class="dropdown-item" href="#">E-mailer</a></li>
                        <li><a class="dropdown-item" href="#">Insta post</a></li>
                        <li><a class="dropdown-item" href="#">Insta Story</a></li>
                        <li><a class="dropdown-item" href="#">News paper Ad</a></li>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/about">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>