<html>
<%- include head.ejs %>

<body>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

  <div class="gallery">
    <!-- column One -->
    <div class="gallery__column">
      <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/Banner/20th Oct.jpg-1.jpg" alt="Portrait by Noah Buscher" class="gallery__image">
          <figcaption class="gallery__caption">Banner</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/Client dairy/story-1.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Client Dairy</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/E mailer/27th.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">E-mailer</figcaption>
        </figure>
      </a>
    </div>

    <!-- column Two -->
    <div class="gallery__column">
      <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/Client dairy/story-02.jpg" alt="Portrait by Noah Buscher" class="gallery__image">
          <figcaption class="gallery__caption">Client Dairy</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/E mailer/22nd.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">E-mailer</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/Banner/Anika-17=FB.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Banner</figcaption>
        </figure>
      </a>
    </div>

    <!-- column Three -->
    <div class="gallery__column">
      <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/insta post/09.jpg" alt="Portrait by Noah Buscher" class="gallery__image">
          <figcaption class="gallery__caption">Instagram Post</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/News paper Ad/javer.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">News paper Ad</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/insta Story/7th 03.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Instagram Post</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/insta Story/0003 (3).jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Instagram Story</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/insta post/insta 5.jpg" alt="Portrait by Noah Buscher" class="gallery__image">
          <figcaption class="gallery__caption">Instagram Post</figcaption>
        </figure>
      </a>
    </div>

    <!-- column Four -->
    <div class="gallery__column">
      <a href="https://unsplash.com/@noahbuscher" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/insta post/7th_02.jpg" alt="Portrait by Noah Buscher" class="gallery__image">
          <figcaption class="gallery__caption">Instagram Post</figcaption>
        </figure>
      </a>

      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/insta Story/05.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Instagram story</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/News paper Ad/pashmina.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">News paper Ad</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/Client dairy/story.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Client Dairy</figcaption>
        </figure>
      </a>
      <a href="https://unsplash.com/@von_co" target="_blank" class="gallery__link">
        <figure class="gallery__thumb">
          <img src="/images/insta Story/01.jpg" alt="Portrait by Ivana Cajina" class="gallery__image">
          <figcaption class="gallery__caption">Instagram story</figcaption>
        </figure>
      </a>
    </div>

  </div>
</body>

</html>
